<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <h2>Hello User</h2>

    {% if user.is_authenticated %}
        <p>Hi {{ user.full_name }}, Welcome to this page</p>
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <a href="{% url 'login' %}">Log In</a> / 
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
</body>
</html>